.container {
  background-color: rgb(194, 194, 12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container div {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 32px;
  text-align: center;
  background-color: rgb(13, 18, 147);
  line-height: 75px;
}
